// Slider

.slider {
  // @include dots();

  .slide-fg {
    transition: transform 1s ease 0.5s, opacity 1s ease 0.5s;
    position: absolute;
    transform: translateX(-100%);
    top: 0; left: 0;
    opacity: 0;

    &.active{
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .slide-item {
    float: left;
    //opacity: 0;
    transition: opacity 2s;
    &.slick-active {
      opacity: 1;
    }
  }
  .slider-content {
    position: relative;
  }

.slider-nav-right, .slider-nav-left {
    transform: translateY(-50%);
    top: calc(100% - 75px);
    @include media-md {
      top: 50%;
    }
}

  // hide the ajax loader - not needed
  .slick-list {
    .slick-loading & {
        background: none;
    }
  }
}

// Vendor mods
.slick-slider {
  margin-bottom: 0;
}






