// Styling of content that is editable in wysiwyg

.user-content {
  @include clearfix();
  color: $black;
  font-size: 16px;
  line-height: 24px;

  *:first-child {margin-top: 0;}

  h1,h2,h3,h4,h5,h6,a,blockquote {
    @include color-cycle();
  }

  h1,h2,h3,h4,h5,h6 {
    @include big_text();
  }

  p {
    margin-bottom: 0;
  }

  a {
    
  }


  ol {
  }
  ul {
  }
  ol,
  ul {
    
    li {
      display: block;
      ol,
      ul {

      }
    }
  }

  hr {
    height: 0;
    border: 0;
    margin: 36px 0;
    border-bottom: 1px solid $black;
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  figcaption {
    font-size: .8em;
  }

}

.who-we-are.page{
  .staff { 
    .user-content {
      color: $bg;
      h1,h2,h3,h4,h5,h6,a,blockquote {
        animation: none;
      }
      hr {
        border-bottom: 1px solid $white;
      }
    }
  }
}
