// Single Posts

.single-post {

  article {
    @include clearfix();

    main {
    }

    header {
    }

    .user-content {
      h1, h2, h3, h4, h5, h6 {
      }

      img {
      }

      ul, ol {
        padding-left: 0;
        li {
          font-size: 16px;
          line-height: 1.5em;
        }
      }

      figure, figure:first-child {
        margin: 30px 0;
      }

      figure > img,
      figure >img:first-child {
        margin: 0;
      }

      figcaption {
      }

      blockquote {
        padding: 20px 0;
        p {
          font-size: 24px;
          margin-bottom: 0;
        }
      }
    }
  }

}




//single
.single {
  .category {
    @include highlight_link();
    position: absolute;
    top: 72px;
  }
  .headline-title {
    margin-top: 114px;
  }
  .arrows {
    position: absolute;
    right: 0;
    left: 0;
  }
  .post-content {
    margin: 0; 
    margin-top: 84px;
    margin-bottom: 64px;
    @include media-md {
      margin: 0;
      margin-top: 120px;
    }
    .entry-content {
      max-width: 768px;
      background-color: $bg;
      margin-right: 36px;
      @include media-md {margin-right: 72px;}
    }
  }
  .prev-post, .next-post {
      position: absolute;
      top: -48px;
    @include media-md {
      top: 216px;
    }
    transform: translateY(-50%);
  }
  .next-post {
    left: 10px;
    @include media-md {left: 36px;}
  }
  .prev-post {
    right: 10px;
    @include media-md {right: 36px;}
  }
}
