// Variables

// Colors

$black: #202020;
$black-lite: #444648;
$white: #fff;
$gray: #969696;
$gray-dark: #555;

$gray-lite: #dddcd7; //221,220,215
$red: #d50032;
$blue: #10069f;
$bg: $gray-lite;

// Brand Swatches
$brand-primary: $blue;
$brand-secondary: $gray-lite;

// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 768px;
$breakpoint-lg: 1092px;

//Z Indices
$z-nav-toggle-active: 50;
$z-nav: 40;
$z-staff-arrows: 37;
$z-staff-modal: 35;
$z-staff-mask: 30;
$z-nav-mask: 30;
$z-nav-toggle-inactive: 20;
$z-brand: 20;
$z-arrows: 10;
$z-dots: -10;
$z-nav-mask-hide: -30;


//animation speeds;
$cycle-speed: 60s;
$nav-push-speed: 0.5s;

//gutters
$gut-top:0;
$gut-right:36px;
$gut-bottom:48px;
$gut-left:36px;
//md
$gut-top-md:0;
$gut-right-md:72px;
$gut-bottom-md:72px;
$gut-left-md:180px;
